[green_agent]
agentbeats_id = "019bc5cc-c93e-7372-ad04-ec1115efe810"
env = {RAPID_API_KEY = "${RAPID_API_KEY}", OPENAI_API_KEY="{OPENAI_API_KEY}", OPENAI_BASE_URL="{OPENAI_BASE_URL}", EVAL_MODEL="{EVAL_MODEL}", LOG_LEVEL = "INFO" }

[[participants]]
agentbeats_id = ""
name = "role_1_name"
env = {}


[config]
# Add your assessment config here
benchmark = "cfb" # available benchmarks: bfcl, tau2 and cfb
num_tasks=5